!wp-content/themes/litfurniture/
!wp-content/themes/litfurniture/**
wp-admin/**
wp-includes/**
wp-content/plugins/**
wp-content/uploads/**

.htaccess
index.php
license.txt
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php
wp-cron.php
wp-config.php
wp-comments-post.php
wp-activate.php
readme.html
wp-blog-header.php
local-xdebuginfo.php
wp-config-sample.php
